name: CI-latest

on: [push]

jobs:
  build:
    if: "! contains(toJSON(github.event.commits.*.message), 'INCOMPLETE')"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          path: prover-commons
      - uses: actions/checkout@v2
        with:
          repository: tribbloid/buildSrc
          ref: main
          path: buildSrc
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
      - name: build & test
        working-directory: prover-commons
        run: |
          ./dev/CI-latest.sh
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: |
            **/test-results/**/*.xml
